@import url("Minecraft.css");
@import url("fonts.css");        

body {
	background:#262423;
	color:#ffffff
}
#logo {
  padding-top:1em;
  float: center;
  height: 128px;
  width: auto; /* correct proportions to specified height */

}
h1 {
	background:#313131;
	font-size:2.25rem;
	text-align:center;
	font-family:Arial;
}
p {
    font-family:Arial;
}

input {
    padding: 13px 17px;
    height: 1em;
    border: 2px solid #aba09c;
    margin-top: 12px;
    margin-bottom: 7px;
    font-family: MinecraftSeven;
}

.center {
	display:block;
	margin-left:auto;
	margin-right:auto;
  }

footer {
    margin-top: 3em;
    position: fixed; bottom:0;
    padding:1em;
    background-color: #101010;
    color: #ffffff;
    width: 97.5%;
}

a {
color: gold;
}